In [2]:
import pandas as pd
import numpy as np

In [3]:
auto_df=pd.read_csv('auto-mpg.csv')
auto_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
auto_df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [5]:
auto_df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [6]:
auto_df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [7]:
auto_df = auto_df.replace('?', np.nan)

In [8]:
auto_data=auto_df.dropna()

In [9]:
auto_data['horsepower']= auto_data['horsepower'].astype('float64')
auto_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 30.6+ KB

<ipython-input-9-7c81c6e5d38d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  auto_data['horsepower']= auto_data['horsepower'].astype('float64')

In [10]:
auto_data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [11]:
auto_data['displacement_in_cc']=auto_data['displacement']*16.387

<ipython-input-11-c5ae9b3c20d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  auto_data['displacement_in_cc']=auto_data['displacement']*16.387

In [12]:
#convert lbs to kilograms
auto_data['weight_in_kilograms']=auto_data['weight']/2.205

<ipython-input-12-5fa421d62340>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  auto_data['weight_in_kilograms']=auto_data['weight']/2.205

In [13]:
auto_data['kilometers_per_liter']=auto_data['mpg']/2.352

<ipython-input-13-a8a2edf26a30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  auto_data['kilometers_per_liter']=auto_data['mpg']/2.352

In [14]:
auto_data.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,displacement_in_cc,weight_in_kilograms,kilometers_per_liter
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,5030.809,1589.115646,7.653061
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,5735.450,1674.829932,6.377551
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,5211.066,1558.276644,7.653061
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,4981.648,1556.916100,6.802721
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,4948.874,1564.172336,7.227891

In [15]:
x=auto_data[['cylinders', 'displacement_in_cc', 'horsepower', 'weight_in_kilograms',
       'acceleration', 'model year', 'origin']]
y=auto_data['kilometers_per_liter']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.25)

In [18]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

In [19]:
model=RandomForestRegressor(random_state=42)

In [20]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
mae=mean_absolute_error(y_pred,y_test)
print(mae)

0.7291840205469952

In [21]:
import pickle 
pickle_out = open("mpg.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()

In [22]:
model=pickle.load(open('mpg.pkl','rb'))
score=model.score(x_test,y_test)
print(score)

0.8851498398060069